.social {
  background-color: rgba(138, 43, 226, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  svg {
    width: 22px;
    height: 22px;
    fill: rgb(97, 238, 191);
    margin: 0 30px;

    &:hover {
      opacity: 0.7;
      transition: ease 0.5s;
    }
  }
}
