.list-skills {
  .skillbar-title span {
    padding: 0 15px;
  }

  .skillbar {
    width: 48%;
    display: inline-block;
    margin-right: 20px;

    @media (max-width: 1024px) {
      width: 95%;
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-left: 20px;
      margin-right: 0;
    }
  }
}
