.sobre-mi {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 50px;

  background-color: #f1f1f1;

  p {
    text-align: justify;
  }

  button {
    text-transform: uppercase;
    background-color: rgba(102, 205, 170, 0.2);
    color: black;
    width: 151.92px;
    transition: all 0.3s;
    border-radius: 20px;
    &:hover {
      width: 100%;
    }
  }
}
